.sides {
    background-color: #ffa500;
    margin-left: 15%;
    margin-right: 15%
}

body {
    background-color: #f8f8f8;
}

.services {
    border-color: #a6caf0;
    font-size: 18px;
}

.vkladki {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.colorback {
    background-color: #ffa500;
}

.main {
    margin-left: 15%;
    margin-right: 15%
}

.servicesphotos {
    height: 100px;
    width: 150px;
}

.avatar {
    text-align: center;
}

.form-type {
    text-align: center;
    margin-top: 10px;
}

.inputs {
    height: 30px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px
}

#feedback-form {
    text-align: center;
}

.text {
    height: 40px;
}

.td-text-feedback {
    margin: 5px;
}

.review {
    outline: 2px solid #000;
    /* Чёрная рамка */
    border: 3px solid #fff;
    /* Белая рамка */
    border-radius: 10px;
    /* Радиус скругления */
    margin: 10px;
}

.inputs-main {
    width: 140px;

}

#input-main {
    margin-top: 5px;
}

#button-main {
    font-size: 12px;
}

#form-signin {
    background-color: #ffb961;
}

ul {
    list-style-type: none;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:focus,
a:hover {
    color: rgb(14, 14, 60);
}

a:active {
    color: red;
}
/*Css to target the dropdownbox*/
.table-dis{
    text-align:center;
}

.alert alert-success{
    color: red;
}
.btn-editor{
    border-radius: 10px;
    height:40px;
    border:none;
}
.content{
    border-radius: 15px;
    border: 1px black solid;
    padding: 10px;
}
.btn-add{
    margin-top: 15px;
    border-radius: 10px;
    border:none;
    width:170px;
    height: 50px;
    background: #1d9f04;
}
.btns-add {
    display: flex;
    justify-content: space-around;
}
.delete{
    background: red;
}
.block{
    background: #f63939;
    width:125px;
}
.unblock{
    background: green;
    width:125px;
}
.perm-users{
    width: 25%;
}
.input-edit{
    width: 150px;
    border-radius: 10px;
}
.create{
    text-align: center;
}
.addgroup{
    margin-top: 5px;
    margin-bottom: 15px;
    height: 25px;
}
.btn-submit{
    width: 110px;
    height: 40px;
    border-radius: 15px;

}
